<!DOCTYPE html>
<html lang="ru">
<head>
   <title>Prediction service</title>
   <meta charset="utf-8">
   <meta description="boilerplate code">
   <meta keywords="boilerplate, test">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
   <div class = "flex-container">
      <div class = "a">
         <h3>Income Prediction Form</h3>
         <form action = "/result" method = "POST" 
            enctype = "multipart/form-data">
            <!-- Age group -->
            <label for="model">Select a model</label>
            <select id="model" name="model">
            <option value="0">Email model</option>
            <option value="1">SMS model</option>
            </select>
            <br>
            <input type = "file" name = "file" />
            <input type = "submit"/>
         </form>
      </div>
   </div>
</body>
</html>

