@import url(reset.css);

strong { 
  font-weight: bold; 
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a{
  text-align: left;
  display: inline-block;
  padding: 15px;
  outline-style: solid;
}
label, input, select{
  margin-bottom: 5px;
}
h3{
  font-size: 17px;
  font-weight: bolder;
  margin-bottom: 17px;
}
.buttons{
  text-align: center;
  margin-top: 17px;

}

input[value="Model1"]{
  margin-right: 20px;
  font-size: 15px; 
}


input[value="Model2"]{
  font-size: 15px; 
}

h1{
  font-size: 20px;
}

.text_result{
  margin: 100px
}